[user]
	name = Rory Hunter
	email = roryhunter2@gmail.com
[color]
	ui = true
[alias]
	co = checkout
	ls = log --graph -n 30 --decorate --pretty='format:%Cgreen%h %<(14)%Cred%an %C(auto)%d %Creset%s'
	st = status
	exec = "!exec "
	root = !pwd
	tags = tag

	obliterate = push --no-verify --force
	oops = commit --amend --no-edit
	unstage = rm --cached

	# Yes, yes, I know
	ad = add
	dif = diff
	pish = push
	piush = push
	puish = push
	grpe = grep
	shwo = show
	comit = commit
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore
