[user]
	name = Rory Hunter
	email = roryhunter2@gmail.com
[color]
	ui = true
[alias]
	st = status
	co = checkout
	ls = log --format='%C(yellow)%h %Cred%<(15)%an %C(auto)%d %Creset%s' -n 20
	dif = diff
	tags = tag
	exec = "!exec "
	root = !pwd

	# Yes, yes, I know
	pish = push
	piush = push
	puish = push
[push]
	default = simple
[core]
	excludesfile = /home/rory/.gitignore
