[user]
	name = Rory Hunter
	email = roryhunter2@gmail.com
[color]
	ui = true
[alias]
	co = checkout
	ls = !git log --color --graph -n 30 --decorate --pretty='format:%Cgreen%h %<(20)%Cred%an %C(auto)%d %Creset%s' "$@" | replace-emojis
	exec = "!exec "
	root = !pwd
	tags = tag
	edit = !vim $(git ls-files | grep "$@")
  push = !git push && git-show-pr-url

	obliterate = push --no-verify --force
	oops = commit --amend --no-edit
	unstage = reset

	# Yes, yes, I know
	ad = add
	dif = diff
	pish = push
	piush = push
	puish = push
	grpe = grep
	shwo = show
	comit = commit
	brnach = branch
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore
[fetch]
	prune = true
